<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' or page.url == '/index.html' %} active{% endif %}" href="/">Home</a>
      <a class="sidebar-nav-item{% if page.url == '/academics/' %} active{% endif %}" href="/academics">Academics</a>
      <a class="sidebar-nav-item{% if page.url == '/contact/' %} active{% endif %}" href="/contact">Contact</a>

      <div class="sidebar-nav-item dropdown">
        <a href="/projects/">Projects</a>
        <div class="submenu">
          <a href="/projects/NationalParkAttendance">National Park Attendance</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
