<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == "/" or page.url == "/index.html" %} active{% endif %}" href="/">Home</a>
      <a class="sidebar-nav-item{% if page.url == "/academics/" %} active{% endif %}" href="/academics">Academics</a>
      <a class="sidebar-nav-item{% if page.url == "/resume/" %} active{% endif %}" href="/resume">Resume</a>
      <a class="sidebar-nav-item{% if page.url == "/contact/" %} active{% endif %}" href="/contact">Contact</a>
      <a class="sidebar-nav-item{% if page.url == "/python/" %} active{% endif %}" href="/python">Python</a>
      <a class="sidebar-nav-item{% if page.url == "/r/" %} active{% endif %}" href="/r">R</a>
      <a class="sidebar-nav-item{% if page.url == "/sql/" %} active{% endif %}" href="/sql">SQL + Databases</a>
      <a class="sidebar-nav-item{% if page.url == "/tableau/" %} active{% endif %}" href="/tableau">Tableau</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
