<!-- _includes/sidebar.html -->

<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="/">Meredith Sliger</a></h1>
      <p class="lead">Data Science Portfolio</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">Home</a>
      <a class="sidebar-nav-item" href="/academics.html">Academics</a>
      <a class="sidebar-nav-item" href="/resume.html">Resume</a>
      <a class="sidebar-nav-item" href="/python.html">Python Projects</a>
      <a class="sidebar-nav-item" href="/r.html">R Projects</a>
      <a class="sidebar-nav-item" href="/sql.html">SQL, Teradata, MongoDB</a>
      <a class="sidebar-nav-item" href="/tableau.html">Tableau Dashboards</a>
      <a class="sidebar-nav-item" href="/contact.html">Contact</a>
    </nav>

    <p>&copy; 2025 Meredith Sliger</p>
  </div>
</div>
